.card {
  width: 200px;
  height: 300px;
  border: 1px solid red;
  margin: 5px;
  transition: 200ms transform ease-in-out;
  background-color: lightgray;
}

.card:hover {
  transform: scale(1.05);
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.cart-btn {
  border-radius: 10%;
  height: 30px;
  text-align: center;
  padding: 5px;
  width: 100px;
  background-color: gold;
  cursor: pointer;
}
