.Navbar-component {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid red;
}

.links-elements {
  display: flex;
  margin-right: 60px;
}

.links-elements > li {
  margin: 0px 20px;
  list-style-type: none;
}

.logo-image {
  width: 80px;
  height: 60px;
  border-radius: 20px;
}

.logo-component {
  margin-left: 60px;
}

.auth-btn {
  border-radius: 10%;
  height: 30px;
  text-align: center;
  padding: 5px;
  width: 100px;
  background-color: lightgray;
  cursor: pointer;
}
