.shimmer-component {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.shimmer-cards {
  width: 200px;
  height: 300px;
  background-color: lightgray;
  border: 1px solid black;
  margin: 5px;
}
